*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

.container{
    width: 80%;
    margin: auto;
    
}

.sfondo-bianco{
    background-color: white;
}

.blu{
    background-color: rgb(47, 132, 243);
}

.white{
    background-color: white;
}
/* header */

#logo{
    margin:15px 15px;
}

#logo-name{
    display: inline;
    vertical-align: 25px;
    font-size: 45px;
}

/* main  */

main{

}

#selection{
    margin-top: 15px;
    background-color:;
}

#bottone-task{
    margin: 5px 0 5px 20px;

}

.bottoni{
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}